<h1 class="country-info__title">
  <img src="{{flags.svg}}" width="100" height="60" alt="Flag of {{name.official}}"/>{{name.official}}
</h1>
<p><span>Capital: </span>{{capital}}</p>
<p><span>Population: </span>{{population}}</p>
<p><span>Languages: </span>{{languages}}</p>